In [1]:
run start.py

2021-11-29 16:30:42 Configured OSMnx 1.1.1
2021-11-29 16:30:42 HTTP response caching is on

In [2]:
zone_gdf = gpd.read_file('../data/zoning/Zoning.zip')

In [3]:
len(zone_gdf)

58663

In [4]:
zone_gdf.head()

,shape_area,shape_len,zone_cmplt,geometry
0,12495.771484,449.920411,(F)CM-1-CUGU,"POLYGON ((-118.38793 34.22862, -118.38834 34.2..."
1,12496.858398,449.938552,(F)CM-1-CUGU,"POLYGON ((-118.38793 34.22959, -118.38834 34.2..."
2,6248.760742,349.950350,(F)CM-1-CUGU,"POLYGON ((-118.38793 34.23014, -118.38835 34.2..."
3,6248.511719,349.940361,(F)CM-1-CUGU,"POLYGON ((-118.38794 34.23041, -118.38835 34.2..."
4,12497.520508,449.940411,(F)CM-1-CUGU,"POLYGON ((-118.38794 34.23140, -118.38836 34.2..."

In [5]:
zone_gdf.zone_cmplt.value_counts()

R1-1                7914
RS-1                2442
R3-1                2383
R2-1                1713
C2-1VL-CPIO         1385
                    ...
(Q)RD4-1XL             1
[Q]R3-1-CPIO           1
[Q]R2P-1-CDO           1
[Q]C1-1-RIO-CUGU       1
(T)(Q)CM-2D-RIO        1
Name: zone_cmplt, Length: 1940, dtype: int64

In [6]:
zone2_gdf = gpd.read_file('../data/zoning/LA Zoning.zip')

In [7]:
len(zone2_gdf)

58568

In [8]:
zone2_gdf.head()

,shape_area,shape_len,zone_cmplt,geometry
0,12495.771484,449.920411,(F)CM-1-CUGU,"POLYGON ((-118.38793 34.22862, -118.38834 34.2..."
1,24992.793945,649.920555,(F)CM-1-CUGU,"POLYGON ((-118.38793 34.22931, -118.38834 34.2..."
2,6248.760742,349.950350,(F)CM-1-CUGU,"POLYGON ((-118.38793 34.23014, -118.38835 34.2..."
3,6248.511719,349.940361,(F)CM-1-CUGU,"POLYGON ((-118.38794 34.23041, -118.38835 34.2..."
4,12497.520508,449.940411,(F)CM-1-CUGU,"POLYGON ((-118.38794 34.23140, -118.38836 34.2..."

In [9]:
zone_ref = pd.read_csv('../data/zoning/Zoning_Reference_Table.csv')

In [10]:
zone_ref

,ZONE_CMPLT,ZONE_CLASS,ZONE_CODE,ZC1,ZC2,ZC3,ZC4,MAX_HGT_STRY,MAX_HGT_FT,HD1,...,FD2,SUD12,SUD13,SUD14,SUD15,SUD16,SUD17,SUD18,SUD19,SUD20
0,(Q)RE20-1-H,RE20,302,0,2,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,(Q)R1-1-K,R1,308,0,2,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,(Q)PB-1L-RIO,PB,518,0,2,0,0,0,0,1,...,1,0,0,0,0,0,1,0,0,0
3,(Q)R3-1-RIO,R3,410,0,2,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,(Q)R3-1LD-RIO,R3,410,0,2,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2473,(T)(Q)CM-2D-RIO,CM,701,1,2,0,1,0,0,2,...,1,0,0,0,0,0,1,0,0,0
2474,(Q)RAS4-1L-CDO,RAS4,416,0,2,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2475,[Q]RAS4-1L-CDO,RAS4,416,0,3,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2476,[Q]RAS4-1VL-CDO,RAS4,416,0,3,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2477,(Q)RA-1,RA,204,0,2,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [13]:
zone_ref.ZONE_CLASS.value_counts().to_frame().head(50)

                  ZONE_CLASS
C2                       312
C4                       118
CM                       111
R3                       105
P                        103
R4                        99
RD1.5                     91
R1                        89
C1                        87
M1                        86
PF                        76
RD2                       73
MR1                       72
M2                        71
CR                        61
R2                        58
RD3                       50
C1.5                      49
A1                        47
OS                        45
M3                        42
RAS4                      41
MR2                       37
RA                        37
RE11                      34
R5                        33
PB                        32
RD6                       31
RE20                      26
RD5                       25
RE9                       25
RE40                      23
RAS3                      21
RD4                       21
RS                        20
R3P                       18
RE15                      14
A2                        14
R1P                       13
R4P                       12
RMP                       11
C5                         6
R1R3                       5
R1V3                       4
RU                         4
R2P                        4
RZ5                        3
RAP                        3
R4(PV)                     3
(WC)NORTHVILLAGE           3